/* any default styling goes here */

body.itemid-101
{
	section#sp-main-body
	{
		display:none;
	}
	
}

.cck_page
{
	h1
	{
		 
		    text-transform: uppercase;
		    font-size: 28px;
		    color: $primary-black;
		    font-weight: bold;
	 
	}
}