/* all the website colors goes here */

$primary-blue:#524e6b;
$primary-white:#fff;
$primary-red:#ed1a5b;
$primary-purple:#2d9bb0;
$primary-yellow:#f7941e;
$primary-black:#000;

$secondary-grey:#f1f1f1;
$secondary-grey2:#b6b6b6;

$border-grey:#d6dee2;
