/* all the primary fonts */

@import url('https://fonts.googleapis.com/css?family=Oswald|Signika');



$primary-font:'Signika', sans-serif;
$header-font: 'Oswald', sans-serif;


h1,
h2,
h3, 
h4,
h5,
h6
{
	font-family:$header-font;	
	letter-spacing:2px;
}

body,
p,
span,
ul li a,
ul li,
ol li
{

	font-family:$primary-font;
}

body,
p
{
	font-size:16px;
}