/* all the About section color scheme. */

.page-header
{
 

	h1
	{
		
	}
} 


 #sp-component
{
				 

				h2
				{
					color:$primary-purple;
					 
				}

				h3
				{
					color:$primary-purple;
					 
				}

}



#sp-followon-pages-stat-box
{
 

	.followonstatbox
	{
 
		border-bottom:3px solid $primary-purple;
 
		.followon-text-stats
		{
			

			p
			{
				 
				color:$primary-purple;
			}

		}
	}
}   


#sp-left
{
	.quick_links
	{
		h2
		{
			background-color: $primary-purple;
    	 
    		color:$primary-white;
		}
	}
}