/* all the design for bottom boxes */

section#sp-bottom
{
	min-height:400px;

			@include breakpoint(mobile) {
			   		padding-bottom:30px;

				}


	.container
	{
		padding-top:55px;

			@include breakpoint(mobile) {
			   		padding-top:20px;

				}

		.row
		{
			.latest-news-box,
			.bottom-box
			{ 
				width:300px;

			@include breakpoint(tablet) {
				width:220px;
				margin:auto;
			    padding-bottom:20px;
			}

			@include breakpoint(mobile) {
			    width:280px;
			    margin:auto;
			    padding-bottom:20px;
				}
 
			}

			#sp-bottom-box-1,
			#sp-bottom-box-2,
			#sp-bottom-box-3
			{
				@include breakpoint(tablet) {
				width:33% !important;
				}

				.bottom-box,
				.latest-news-box
				{
				
					h3
					{
						font-weight:bold;
						padding-top:10px;
						text-transform:uppercase;
					}	
				}

			}
		}
	}
} 

section#sp-bottom-section-for-3-buttons
{ 

	padding-bottom:50px;
  
	.container
		{  
			.row
			{
				.bottom-box
				{ 
					width:300px;

						@include breakpoint(tablet) {
							width:220px;
						}

						@include breakpoint(mobile) {
					    width:280px;
						}
				} 

				#sp-bottom-button-box-1
				{

						.ba-btn-container
					{
						@extend .initial-ba-btn-container;

						.ba-btn
						{
							@extend .initial-ba-btn;
							width:300px;
							@include breakpoint(tablet) {
								width:220px;
							}

							@include breakpoint(mobile) {
						    width:280px;
							}

							.ba-default-state
							{
								@extend .ba-default-state-blue;
							}

							.ba-active-state 
							{
								@extend .ba-active-state-blue;

								a 
								{
									@extend .ba-active-state-a;
								}
							} 
						}
 

					}
				}
				#sp-bottom-button-box-2
				{

						.ba-btn-container
					{
						@extend .initial-ba-btn-container;

						.ba-btn
						{
							@extend .initial-ba-btn;
							width:300px; 

							@include breakpoint(tablet) {
								width:220px;
							}

							@include breakpoint(mobile) {
						    width:280px;
							}

							.ba-default-state
							{
								@extend .ba-default-state-purple;
							} 

							.ba-active-state 
							{
								@extend .ba-active-state-purple;

								a 
								{
									@extend .ba-active-state-a;
								}
							} 
						}
 
 
					}
				}

				#sp-bottom-button-box-3
				{

						.ba-btn-container
					{
						@extend .initial-ba-btn-container;

						.ba-btn
						{
							@extend .initial-ba-btn;
							width:300px; 

							@include breakpoint(tablet) {
								width:220px;
							}


							@include breakpoint(mobile) {
						    width:280px;
							}
							.ba-default-state
							{
								@extend .ba-default-state-red;
							} 

							.ba-active-state 
							{
								@extend .ba-active-state-red;

								a 
								{
									@extend .ba-active-state-a;
								}
							} 
						}
 
 
					}
				}
			} 
		}
	
}