/* all the About section color scheme. */

.page-header
{
 

	h1
	{
		
	}
} 


 


#sp-followon-pages-stat-box
{
 

	.followonstatbox
	{
 
		border-bottom:3px solid $primary-blue;
 
		.followon-text-stats
		{
			

			p
			{
				 
				color:$primary-blue;
			}

		}
	}
}   



#sp-left
{
	.quick_links
	{
		h2
		{
			background-color: $primary-blue;
    		padding: 15px 20px;
    		color:$primary-white;
		}
	}
}


#sp-component
{
				 

				h2
				{
					color:$primary-blue;
					 
				}

				h3
				{
					color:$primary-blue;
					 
				}

}

